* { 
  font-family: 'Arimo', sans-serif;
}

html,body,#wrapper {
  height:98%;
  background-image: url("light-wooden-background.jpg");
  margin:0;
  padding:0;
}

#wrapper, #header {
  position:relative;
}

#header {
  text-align: center; 
  border-bottom: 2px solid black; 
}
  
button.functions { 
  margin: 2px; 
  padding: 2px; 
}

#left {
  float:left; 
  display: inline-grid; 
  width: 39%;
  height: 90%; 
}

#right1 {
  float: left; 
  display: inline-grid;
  margin-top: 10px;
  width: 30%;
  height: 45%; 
}

#right2 { 
  float: right; 
  display: inline-grid; 
  width: 30%;
  height: 45%; 
  overflow: auto; 
}

#right3 { 
  float: left; 
  width: 60%;
  margin-top: 50px;
  overflow: auto; 
  height: 45%; 
}

#right3 form { 
  float: left; 
  width: 60%; 
  margin-top: 2px; 
}

#right3 form input { 
  border: 0; 
  margin: 2px; 
  padding: 5px; 
  margin-top: 2px; 
  margin-right: .5%;
  width: 88%; 
}

#right3 form button { 
  width: 9%; 
  background: #c0c0c0; 
  margin-top: 2px; 
  border: 1px solid black; 
  padding: 5px; 
}

.gateway { 
  padding: 10px; 
}

div.boards { 
  margin: 5px; 
  padding: 5px; 
}

#board { 
  width: 85%;
}

#smallboard { 
  width: 50%;
}

.textlist { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

.textlist li { 
  padding: 5px 10px; 
}

.red { 
  background-color: red;
}